.container {
    height: 100vh;
}

.about{
    display: grid;
    grid-template-columns: 50% 50%;
}

.about__imag{
    text-align:justify;
}

.about__imag-perfil{
    width: 60%;
    border-radius: 50%;
}

.about__description{
    margin: 0 3em 0 0;
}

.about__description-name{
    color: var(--blue);
    font-size: 20px;
    font-weight: 700;
}

.about__description-job{
    font-size: 20px;
    font-weight: 700;
}


.about__description-greetings{
    font-weight: 700;
    margin: 1em 0;
}

.about__description-text{
    margin: 2em 0;
    text-align:justify; 
}