
.banner{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 10vh;
    overflow: hidden;
}

.banner__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
    gap: 2em;
    margin-left: 4em;
    margin-right: 4em;
}

.banner__imag {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.banner__imag-perfil {
    max-width: 50%;
    height: auto;
}

.banner__description {
    flex: 1;

}

.banner__description-name,
.banner__description-job,
.banner__description-greetings {
    font-weight: 700;
    font-size: 40px;
    margin: 0.3em 0;
    text-align: left;
}

.banner__description-name {
    color: var(--blue);
}


.banner__description-text {
    margin: 1.2em 0;
    text-align: justify;
}

.banner__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3em 0;
}


.banner__btn-social-item {
    color: var(--gray-medium);
    font-size: 20px;
    margin: .3em;
    text-align: center;
}

.banner__btn-social-item:hover {
    color: var(--blue);
    transition: 0.3s;
    font-size: 22px;
}

.banner__tecnologies{
    display: flex;
    background: var(--blue);
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.banner__tecnologies-log{
    height: 50px;
}

.banner_tecnologies-text{
    color: var(--white);
    font-size: 20px;
    margin: 0.5em 0;
    text-align: center;
    font-weight: 400;
}

