

.blog__content {
    display: grid;
    grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
    align-items: center;
    gap: 2em;
}

.blog__card{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    width: 100%;

}



.blog__card-image {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 8px; /* Adiciona bordas arredondadas */    
}



.blog__card-title {  
    color: var(--blue);
    margin: 0.5em 0;
}

.blog__card-description{
    text-align: justify;
}
