.budget {
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 100vh; 
}

.budget__container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    background-color: var(--blue);
    color: var(--white);
}
.budget__content-image{
    text-align: center;
}


.budget__content-image,
.budget__content {
    width: 100%; 
    padding-top: 3.5em;
    padding-bottom: 3.5em;
    padding-right: 8em;
}

.budget__profile-image {
    position: absolute; 
    bottom: 0%;
    transform: translateX(-30%);
    height: 500px; 
    z-index: 1;
}

.budget__content-title{
    font-size: 35px;
    font-weight: 600;
    color: var(--white);
    text-align: justify;
    margin-bottom: 1em;
    line-height: 1.3em;
}

.budget__content-text {
    width: auto; 
    margin-bottom: 1em;
    text-align: justify;
    line-height: 1.3em;
    font-size: 18px;
}



