.contact {
    display: grid;
    grid-template-columns: 0.50fr 0.50fr;
    
    margin: 2em 3em;
}

.contact__left{
  padding: 0 4em;
}

.contact__content {
    display: flex;
    gap: 2em;
    justify-content: space-between;
    margin: 1em 0;
}

.contact__title {
    font-weight: 600;
    color: var(--blue);
    margin: 0.3em 0;
}


.contact__social-item {
    text-align: left;
    font-size: 25px;
    color: var(--gray-medium);
    margin: 0.3em 0.3em;
}

.contact__social-item:hover{
    color: var(--blue);
    border: 1px solid var(--blue-light);
    transition: 0.3s;
}

.contact__left-text{
    margin: 4em 0;
    text-align: center;
    font-size: 14px;
    color: var(--gray);
}



.contact__right-form{
    max-width: 550px;
    margin: 50px auto;
    padding: 30px;
    background: var(--white);
    border-radius: 12px;
    box-shadow: 0 4px 20px var(--gray-lighter);
}

.form-contato {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .campo-form {
    display: flex;
    flex-direction: column;
  }
  
  .campo-form label {
    margin-bottom: 5px;
    font-weight: 600;
    color: var(--gray);
  }
  
  .campo-form input,
  .campo-form textarea {
    padding: 12px 15px;
    border: 1px solid var(--gray-extra-light);
    border-radius: 8px;
    font-size: 1rem;
    background: var(--gray-extra-light);
    transition: border-color 0.3s, background 0.3s;
    font: var(--fonte-primaria);
  }

  .line-telephone {
    display: flex;
    gap: 15px;
  }
  
  .line-telephone .campo-form.pequeno {
    flex: 0 0 80px; /* largura fixa pro CO */
  }
  
  .line-telephone .campo-form {
    flex: 1; /* telefone ocupa o restante */
  }
  
  .campo-form input:focus,
  .campo-form textarea:focus {
    border-color: var(--gray-lighter);
    background: var(--gray-ultra-light);
    outline: none;
  }
  
  .button-container {
    display: flex;
    justify-content:right;
    gap: 1em;
    margin-top: 15px;
  }
  
 
  
