.nav{
    display: flex;
    justify-content:space-between;
}

.nav__logo{
    text-align: left;


}

.nav__brand{
    width: 250px;
    margin: 1em 0;
}

.nav__menu{
    display: flex;
    gap: 1.5em;
    text-decoration: none;
    margin: 2em 0;

}

.nav__menu-item{
    text-decoration: none;
    color: var(--black);
    font-size: 12px;
}

.nav__btn{
    margin: 2em 0;
}