.navbar{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    background-color: var(--degrade); 
}

.navbar__brand{
    width: 450px;
}

.social{
    display: flex;
    gap: 1rem;
    padding: 2rem;
    color: var(--black);
}
.navbar__menu{
    display: flex;
    gap: 1rem;
    padding: 2rem; 
    color: var(--black);
    text-decoration: none;
}