header{
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.scrolled {
    box-shadow: 0px 4px 4px var(--gray-lighter); /* Sombra visível ao rolar */
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-between; /* Espaça os itens do menu e do botão */
    align-items: center;
    padding: 0 2em;
    margin-left: 3em;
    margin-right: 1em;
}

.nav__logo{
    text-align: left;
}

.nav__brand{
    width: 250px;

}

.nav__menu{
    display: flex;
    gap: 1.5em;
    text-decoration: none;

}

.nav__menu-item{
    text-decoration: none;
    color: var(--black);
    font-size: 14px;
}

.nav__menu-item:hover{
    color: var(--blue);
}


.nav__btn{
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 0;
}

.nav__btn .btn__defaut-outline {
    padding: 0.5em 1em;
    font-size: 14px;
}
