.projects {
    height: 180vh;
    max-height: 100%;
    border: #818181 1px solid;
    padding: 2em 6em;

}

.projects__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}

.projects__btn {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;

}

.projects__card {
    height: 420px;
    width: 290px;
    margin: 1em 1em;
    border: 1px solid var(--gray-lighter);
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--gray-lighter);
    transition: all 0.3s ease;
    background-color: var(--white);
    overflow: hidden;
}

.projects__card-img {
    width: 100%;

}

.projects__card-content {
    display: flex;
    justify-content: space-between;
    margin: 0 0.8em;
}


.projects__card-title {
    font-size: 16px;
    font-weight: 600;
    margin: 0.3em 0;
}

.projects__card-text {
    font-size: 12px;
    font-weight: 400;
}