.service__content{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 4em; 
}

.service__card {
    display: flex; /* Ativa o Flexbox */
    flex-direction: column; /* Organiza os elementos verticalmente */
    justify-content: space-between; /* Garante que o botão fique no final */
    align-items: flex-start;
    width: 270px;
    height: 350px;
    padding: 1.5em;
    border-radius: 28px;
    background-color: var(--gray-extra-light);
    text-align: left;
    
}

.service__cards-img {
    width: 30%;  
}

.service__cards-title{
    text-align: left;
    font-size: 25px;
    width: 60%;
    line-height: 1.2em;
    margin: 0.7em 0;
    font-weight: 500;
}

.service__cards-icon{
    font-size: 16px;
    color: var(--blue);
}

.service__cards-list li{
    font-size: 14px;
    line-height: 1.3em;
}

.service__btn {
    margin-top: auto; /* Empurra o botão para o final do card */
    align-self: stretch; /* Faz o botão ocupar toda a largura do card, se necessário */
}




/* mobile */
@media (max-width: 767px) {
    
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  }

/* Laptop */
@media (min-width: 1025px) and (max-width: 1279px) {
    .service__card {
            }
  }


/* desktops */
@media (min-width: 1280px) and (max-width: 1535px) {
    .service__card {
        
    }
  }
  
/* ultrawide */
@media (min-width: 1536px) {
/* Estilos para monitores grandes, TVs etc. */
}