
.service__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    padding: 2em;
    
}

.service__card {
    width: 280px;
    height: 320px;
    padding: 2em;
    margin: 0;
    border-radius: 25px;
    background-color: var(--gray);

}

.service__cards-img {
    display: block;
    margin: 0 auto;
    width: 30%;
    height: auto; 
}

.service__cards-title{
    margin: 1em 0;
}

.service__cards-icon{
    margin: 0.5em 0;
}

.service__btn-whatsapp{
    color: var(--white);
    margin: 0.5em;
    font-size: 18px;
}


/* mobile */
@media (max-width: 767px) {
    
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  }

/* Laptop */
@media (min-width: 1025px) and (max-width: 1279px) {
    .service__card {
        width: 150px;
    }
  }


/* desktops */
@media (min-width: 1280px) and (max-width: 1535px) {
    .service__card {
        width: 210px;
    }
  }
  
/* ultrawide */
@media (min-width: 1536px) {
/* Estilos para monitores grandes, TVs etc. */
}