.skills__column-left{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 4em;
}


.skills__tecnology-title{
    font-size: 20px;
    margin: 1em 0;
    font-weight: 600;
}

.skills__title-item{
    font-size: 18px;
    margin: 1.3em 0;
    font-weight: 400;
}



.skill__tecnology-item{
    display: flex;
    flex-wrap: wrap;
    gap: 0.7em;
}



.skill__tecnology-item li {
    display: flex;
    flex-direction: column; /* Alinha o conteúdo verticalmente */
    height: 85px;
    width: 100px; /* Largura fixa para os itens */
    align-items: center; /* Centraliza o ícone e o texto */
    justify-content: center; /* Centraliza verticalmente */
    list-style: none; /* Remove o estilo de lista */
    border: 1px solid var(--gray-lighter); /* Adiciona uma borda suave */
    border-radius: 20px; /* Bordas arredondadas */
    padding: 1em; /* Espaçamento interno */
    background-color: var(--white); /* Fundo branco */
    box-shadow: 0 2px 4px var(--gray-lighter); /* Sombra leve */
    text-align: center; /* Centraliza o texto */
    transition: all 0.3s ease;
    font-size: 13px;
}


.skill__tecnology-item li i {
    margin-bottom: 0.2em;
    color: var(--gray); /* Cor do ícone */
    font-size: 35px;

}

.skill__tecnology-item li:hover {
    transform: translateY(-2px); /* Efeito de elevação */
    box-shadow: 0 4px 8px var(--gray-lighter); /* Sombra mais forte no hover */
}