.skills{
    background-color: var(--gray-extra-light);
}

.skills__content{
  gap: 5em;
}

.skill__tecnology-item{
    display: flex;
    flex-wrap: wrap;
    gap: 0.7em;
    margin: 1em 0;
}


.skill__tecnology-item li {
    display: flex;
    flex-direction: column; /* Alinha o conteúdo verticalmente */
    height: 90px;
    width: 100px; /* Largura fixa para os itens */
    align-items: center; /* Centraliza o ícone e o texto */
    justify-content: center; /* Centraliza verticalmente */
    list-style: none; /* Remove o estilo de lista */
    border: 1px solid var(--gray-lighter); /* Adiciona uma borda suave */
    border-radius: 20px; /* Bordas arredondadas */
    padding: 1em; /* Espaçamento interno */
    background-color: var(--white); /* Fundo branco */
    box-shadow: 0 2px 4px var(--gray-lighter); /* Sombra leve */
    text-align: center; /* Centraliza o texto */
    transition: all 0.3s ease;
    font-size: 13px;
}


.skill__tecnology-item li i {
    margin-bottom: 0.3em;
    color: var(--gray); /* Cor do ícone */
    font-size: 35px;

}

.skill__tecnology-item li:hover {
    transform: translateY(-4px) scale(1.05);
    box-shadow: 0 6px 12px var(--gray-lighter);
}

.skills__tecnology ul + .skills__title-item {
    margin-top: 2em;
    border-top: 1px solid var(--gray-lighter);
    padding-top: 1.5em;
}
