.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scroll-margin-top: 75px;
}

.projects__title {
  padding-top: 3em;
}

.projects__grid {
  column-count: 6;
  column-gap: 0px;

  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.projects__item {
  position: relative;
  margin-bottom: 0px;
  break-inside: avoid;
  overflow: hidden;
  border-radius: 0px;
  animation: fadeInUp 0.6s forwards;
  transition: transform 0.3s;
}

.projects__item img {
  width: 100%;
  max-height: 280px;
  object-fit: cover;
  border-radius: 0px;
  display: block;
  transition: transform 0.4s ease;
}

.projects__item:hover img {
  transform: scale(1.08);
  filter: brightness(0.6) saturate(1.2);
}


.projects__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  padding: 1em;
  color: var(--white);

  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.projects__overlay__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.projects__overlay__icon {
  font-size: 30px;
  color: var(--white);
}

.projects__item:hover .projects__overlay {
  opacity: 1;
  transform: translateY(0%);
}

.projects__item-title {
  font-size: 19px;
  font-weight: 600;
}

.projects__description {
  font-size: 13px;
  margin: 0.5em 0;
}


.projects__container-btn {
  text-align: right
}

/* End btn__defaut-solid */

/* Responsive adjustments */

@media (max-width: 767px) {
  .projects__grid {
    column-count: 2;
  }

  .projects {
    padding: 0 2em;
  }

  .projects__title {
    margin-bottom: 2em;
  }
  .projects__content.container{
    padding: 0 0em;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .projects__grid {
    column-count: 4;
    column-gap: 0.5em;
  }

  .projects {
    padding: 0 0em;
  }

  .projects__title {
    margin-bottom: 2em;
  }
}

@media (min-width: 1025px) and (max-width: 1279px) {
  .projects__grid {
    column-count: 4;
  }

  .projects{
    padding: 3em;
  }
}
