.project {
  padding-top: 15vh;
  padding: 5rem 5rem;
  height: auto;
  box-sizing: border-box;
}

.project-content {
  margin: 3em;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.project__left-column {
  display: flex;
  flex-direction: column;
}

.project__btn {
  padding: 2em 0;
}

.project__coutry {
  margin-top: 3em;
}

.project__name {
  width: 50%;
}

.project__description {
  margin-bottom: 1em;
  text-align: justify;
}

.project__btn {
  margin: 1em 0;
}

.project__right-column {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  width: 500px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: height 0.5s ease-in-out;
}

.slides {
  display: flex;
  align-items: center;
  width: 400%;
  animation: slide-animation 8s infinite ease-in-out;
}

.slides img {
  width: 100%;
  object-fit: contain;
  flex-shrink: 0;
  transition: transform 1s ease-in-out;
  border-radius: 10px;

  display: block;
  margin: auto;
}

.slides img.horizontal {
  height: 80vh;
}

.slides img.vertical {
  height: 70vh;
}

@keyframes slide-animation {
  0% {
    transform: translateX(0%);
  }

  25% {
    transform: translateX(0%);
  }

  30% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-100%);
  }

  55% {
    transform: translateX(-200%);
  }

  75% {
    transform: translateX(-200%);
  }

  80% {
    transform: translateX(-300%);
  }

  100% {
    transform: translateX(-300%);
  }
}

/* Responsive adjustments */

@media (max-width:768px) {

  .project {
    padding: 3em;
  }

  .columns-50-50 {
    display: flex;
    flex-direction: column;
    gap: 3em;
  }

  .project__name {
    width: 100%;
  }

  .slider {
    width: 100%;
  }


  .project__btn {
    padding-top: 10px;
    text-align: left;
  }

  .project__right-column {
    order: -1;
  }

  .project__left-column {
    order: 1;
    padding: 0 1em;
  }

  .slides img.horizontal,
  .slides img.vertical {
    width: 100%;
    height: auto;
    max-height: 60vh;
    object-fit: cover;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .project__name {
    width: 100%;
  }

  .slider {
    width: 100%;
    height: 100%;
  }

  .project__right-column {
    order: -1;
    /* Mover para cima */
  }

  .project__left-column {
    order: 1;
  }
}

@media (min-width: 1025px) and (max-width: 1279px) {
  .slider {
    width: 80%;
  }
}

