.skills {
    background-color: var(--gray-extra-light);
}

.skills__content {
    gap: 5em;
}

.skills__technology-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.7em;
    margin: 1em 0;
}

.skills__technology-list li {
    display: flex;
    flex-direction: column;
    height: 90px;
    width: 100px;
    align-items: center;
    justify-content: center;
    list-style: none;
    border: 1px solid var(--gray-lighter);
    border-radius: 20px;
    padding: 1em;
    background-color: var(--white);
    box-shadow: 0 2px 4px var(--gray-lighter);
    text-align: center;
    transition: all 0.3s ease;
    font-size: 13px;
}

.skills__technology-list li i {
    margin-bottom: 0.3em;
    color: var(--gray);
    font-size: 35px;
}

.skills__technology-list li:hover {
    transform: translateY(-4px) scale(1.05);
    box-shadow: 0 6px 12px var(--gray-lighter);
}

.skills__tecnology ul+.skills__title-item {
    margin-top: 2em;
    border-top: 1px solid var(--gray-lighter);
    padding-top: 1.5em;
}

.skills__btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.skills__btn h6 {
    text-align: left;
}

.skills__btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
}

.skills__btn-group a {
    flex: 1 1 45%;
    /* dois por linha */
    text-align: center;
}

/* Responsive adjustments */

@media (max-width: 1279px) {
    .skills__technology-item {
        width: 90px;
        height: 90px;
        font-size: 13px;
    }

    .skills__technology-item i {
        font-size: 25px;
    }

    .skills__btn {
        align-items: center;
    }

    .skills__btn h6 {
        align-self: flex-start;
    }

    .skills__btn-group a {
        margin: 0;
    }

    .skills__content {
        gap: 0.5em;
    }
}


@media (min-width: 1280px) and (max-width: 1535px) {
    .skills__btn-group a {
        margin: 0;
    }

    .skills__btn-group {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}

@media (min-width: 1536px) {
    .skills__technology-item {
        width: 120px;
        height: 100px;
        font-size: 14px;
    }

    .skills__technology-item i {
        font-size: 40px;
    }

    .skills__btn-group a {
        margin: 0;
    }
}