.step {
    display: flex;
    align-items: left;
    justify-content: left;
    gap: 1.5em;
    margin: 0.5em;
}

.step-title {
    text-align: left;
}

.step-number {
    display: flex;
    width: 40px;
    height: 40px;

    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    background-color: var(--blue);
    border-radius: 50%;
    color: var(--white);

    font-size: 18px;
    font-weight: 700;
    text-align: center;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.step__text {
    text-align: justify;
    font-size: 13px;

}

.steps__text {
    margin: 1.5em 0;
}


@media (max-width: 767px) {

    .right-column {
        margin: 2em 0;

    }

    .step {
        justify-content: center;
        align-items: center;
        gap: 2em;
    }

    .step__text {
        text-align: justify;
    }

    .step-title {
        text-align: left;
    }

}

@media (max-width: 1024px) {
    .btn__defaut-solid {
        display: block;
        margin: 2em auto;
        text-align: center;
        width: fit-content;
    }
}