.btn__primary-md,
.btn__secondary-md{
    padding: 0.3em 1em;
    border-radius: 7px;
    text-decoration: none;
    text-align: center;
}

.btn__primary-md{
    background-color: var(--blue);
    color: var(--branco);
}

.btn__secondary-md{
    color: var(--blue);
    border: 1px solid var(--blue);
}