.btn__defaut-solid,
.btn__defaut-outline,
.btn__light-solid,
.btn__light-outline{
    font: var(--fonte-primaria);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.7em 1.5em;
    border-radius: 7px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
}

/* Start btn__defaut-solid */

.btn__defaut-solid{
    color: var(--white);
    background-color: var(--blue);
    border: 2px solid var(--blue);
    
}

.btn__defaut-solid:hover{
    background-color: var(--blue-hover);
    color: var(--white);
    
    
}

.btn__defaut-icon{
    color: var(--white);
    margin-right: 0.5em;
    font-size: 18px;
}

/* End btn__defaut-solid */

/* Start btn__defaut-outline */

.btn__defaut-outline{
    color: var(--blue);
    border: 2px solid var(--blue); 
    
}

.btn__defaut-outline:hover{
    background-color: var(--blue);
    border: 2px solid var(--blue);
    color: var(--white);
    
}

.btn__defaut-outline-icon{
    color: var(--blue);
    margin: 0 0.5em;
    font-size: 18px;
}
.btn__defaut-outline:hover .btn__defaut-outline-icon {
    color: var(--white);
}

/* End btn__defaut-outline */

/* Start btn__light-solid */

.btn__light-solid{
    background-color: var(--white);
    color: var(--blue);
    display: inline-block;
    margin: 1em 0;
}

.btn__light-solid-icon{
    color: var(--blue);
    margin-right: 0.5em;
    font-size: 20px;
    transition: color 0.3s ease;
}

.btn__light-solid:hover .btn__light-solid-icon {
    color: var(--white);
}

.btn__light-solid:hover{
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid var(--white);
}
/* End btn__light-solid*/

/* Start btn__tertiary */

.btn__tertiary{
    color: var(--blue);
    display: inline-block;
    margin: 0.5em 0;
    font-size: 16px;
}

/* End btn__tertiary  */

