.btn__defaut-solid,
.btn__defaut-outline,
.btn__light-solid,
.btn__light-outline{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.8em 1.3em;
    border-radius: 7px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
}

.btn__defaut-solid{
    color: var(--white);
    background-color: var(--blue); 

}

.btn__light-solid{
    background-color: var(--white);
    color: var(--blue);
    display: inline-block;
    margin: 1em 0;
    
}

.btn__light-solid-icon{
    background-color: var(--white);
    color: var(--blue);
    font-size: 18px;
    margin-right: 0.5em;
}

.btn__light-outline{
    color: var(--white);
    border: 1px solid var(--white);
}

.btn__defaut-outline{
    color: var(--blue);
    border: 1px solid var(--blue);
}

.btn__defaut-solid:hover{
    background-color: var(--blue-houver);
    color: var(--white);
    border: 1px solid var(--blue);
    transition: 0.3s;
}

.btn__defaut-outline:hover{
    background-color: var(--blue);
    color: var(--white);
    transition: 0.3s;
}

.btn__light-solid:hover{
    background-color: var(--blue);
    color: var(--white);
    transition: 0.3s;
    border: 1px solid var(--white);
    display: inline-block;
}

