@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
    --branco: #ffffff;
    --blue: #004efc;
    --gray: #dedede;
    --gray-dark: #7c7c7d;
    --dark: #282522;
    --black: #000000;
    --degrade: linear-gradient(97.54deg, #282522 35.49%, #004efc 165.37%);
    --fonte-primaria: 'inter', sans-serif;
    
    }

    
    body{
        font-family: var(--fonte-primaria);
        font-size: 16px;
        font-weight: 400;

    }