@import url(/styles/layout.css);
@import url(/components/buttons.css);
@import url(/components/forms.css);
@import url(/components/Layout/header.css);
@import url(/components/Layout/banner.css);
@import url(/components/Layout/service.css);
@import url(/components/Layout/skills.css);
@import url(/components/Layout/budget.css);
@import url(/components/Layout/projects.css);
@import url(/components/Layout/testimonials.css);
@import url(/components/Layout/blog.css);
@import url(/components/Layout/faq.css);
@import url(/components/Layout/contact.css);
@import url(/components/Layout/footer.css);
@import url(/components/forms.css);


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --white: #ffffff;
    --blue: #002fa7;
    --blue-houver: #032f82;
    --gray: #f5f5f5;
    --gray-dark: #7c7c7d;
    --dark: #282522;
    --black: #000000;
    --degrade: linear-gradient(97.54deg, #073ca2 35.49%, #004efc 165.37%);
    --fonte-primaria: Poppins, sans-serif;
    }

    
    body{
        font-family: var(--fonte-primaria);
        font-size: 16px;
        font-weight: 400;        
    }


    .container {
    height: 100vh;
    }

    h1{
        font-size: 25px;
        color: var(--black);
        text-align: center;
        margin-top: 2em;
    }

    h2{
        font-size: 40px;
        font-weight: 700;
        color: var(--blue);
        text-align: center;
    }

    h4{
        font-size: 16px;
        font-weight: 500;
        color: var(--black);
        text-align: center;
        margin-top: 0.5em;
    }
